Telegram+Chatbot.json
{
  "name": "Telegram Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "70c11163-f70a-4387-a5e4-e58c1cdbcb48",
      "name": "Telegram Trigger",
      "webhookId": "bbc5d94c-38f6-424b-b12d-b48cc58b9635",
      "credentials": {
        "telegramApi": {
          "id": "jMRCd8OxjQqAuldk",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "d689cd6f-6afd-427a-8b46-8cda6f9a35e7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        240
      ],
      "id": "f18bde0c-ea3f-4a19-8335-29f9add0071e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cSFm5PAvg2x4ft0I",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "5bede7cb-ea42-4c9d-8d80-f3d9b34ee3b6",
      "name": "Send a text message",
      "webhookId": "c6bf8a83-1b4a-4638-ba24-3aadce678757",
      "credentials": {
        "telegramApi": {
          "id": "jMRCd8OxjQqAuldk",
          "name": "Telegram account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c61dfaba-8a32-4876-8809-b20789049e09",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ec8bfddbd59fdde442d5ed0bec9c8e336f78ad4e7b2c1393fe111ac5a29897c"
  },
  "id": "vNpxTpSvjni22DO6",
  "tags": []
}